{
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "singleQuote": true,
    "svelteSortOrder": "scripts-markup-styles",
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 120
}
